/* add css styles here (optional) */

.nav_pagination {
    display: inline-block;
}

.nav_pagination > ul {
    list-style: none;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav_pagination > ul > li {
    padding: 0 5px;
}

.nav_pagination > ul > li > a {
    text-decoration: none;
    color: inherit;
}